.Name{
    font-weight: 300;
    color:blue;
}

.school{
    color: crimson;
}

.Total{
    color: darkmagenta;
}

.Score{
    color: forestgreen;
}

.formatstyle{
    text-align:center;
    font-size: large;

}