.container {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.box {
  padding: 20px;
  border-right: 4px solid green;
  width: 300px;
}

h1 {
  font-size: 32px;
}

h2,
h3,
h4,
p {
  margin: 10px 0;
}